<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h4 class="font-weight-bold">All Users</h4>
            </div>
            <div class="col-4">
                <a href="./addUser" class="btn btn-success float-right" style="float: right;"><i class="fa-solid fa-plus"></i> Add New</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Registered</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(users.length > 0) { %>
                    <% for(let user of users) { %>
                    <tr>
                        <th scope="row"><%= user.first_name %> <%= user.last_name %></th>
                        <td><%= user.email %></td>
                        <td><%= user.date_added %></td>
                        <td>
                            <a href="./updateUser/<%= user._id %>" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="./deleteUser/<%= user._id %>" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td>No users found</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% } %>
            </tbody>
            </table>
    </div>
</div>